@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background:#FAF9F7;
  font-family: 'Inter', sans-serif;
}

h2 {
  color:#3D3D3D;
}


.notice {
  background: white;
  height:115px;
}


.notice .container {
  width: 60%;
  margin: 0 auto;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:16px;
}

.notice a {
  color:#5E20A4;
  margin-right: 0.5rem;
  font-weight: 500;
}

.notice img {
  margin-right: 1.5rem;
}

.notice span {
  font-weight: 500;
}


.about {
  width:60%;
  height:60vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color:#3D3D3D;
}

.about .about-content {
  margin-right: 2rem;
}

.about h2 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.about p {
  font-weight: 400;
  font-size:16px;
  line-height: 28px;
  margin-bottom: 2rem;
}

.about a {
  color:#5E20A4;
  font-weight: 500;
}

.about .img-mobile {
  display: none;
}

.shared-payments {
  width:60%;
  height:70vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:#3D3D3D;
}

.shared-payments img {
  width: 456px;
}

.shared-payments .shared-payments-about {
  height:55%;
  width: 45%;
}

.shared-payments h2 {
  font-size:28px;
  font-weight: 500;
  margin-bottom: 2.3rem;
}

.shared-payments p {
  font-size:16px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 2.3rem;
}

.shared-payments a {
  color:#5E20A4;
  font-weight: 500;
}


.framework {
  width:60%;
  height:90vh;
  margin: 0 auto;
  color:#3D3D3D;
  border-top: 2px solid #DFDFDF;
  border-bottom: 2px solid #DFDFDF;
  padding:5rem 0;
}

.framework .framework-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30%;
  margin-bottom: 5rem;
}

.framework h2 {
  font-size:28px;
  font-weight: 500;
}

.framework p {
  width: 70%;
  font-weight: 16px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

.framework a {
  color:#5E20A4;
  font-weight: 500;
}

.framework .image {
  width:100%;
  display: flex;
  justify-content: center;
}



.coming-soon {
  width:60%;
  height:50vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#3D3D3D;
}

.coming-soon h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.coming-soon img {
  width: 216px;
  margin-bottom: 2rem;
}

.coming-soon p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  width: 60%;
  text-align: center;
}

@media only screen and (max-width: 600px) {

  .notice {
    height: auto;
  }

  .notice .container {
    flex-direction: column;
    padding: 2rem;
    width: 90%;
    text-align: center;
  }

  .notice img, .notice a {
    margin-right: 0;
    margin-bottom: .5rem;
  }

  .about {
    width: 80%;
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
    margin-top:4rem;
    margin-bottom: 3rem;
  }

  .about img {
    width: 304px;
  }

  .about h2 {
    font-size: 22px;
    text-align: center;
  }

  .about .about-content {
    margin-right: 0;
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about p {
    text-align: center;
  }

  .shared-payments {
    width:80%;
    flex-direction: column;
    margin-bottom:3rem;
    margin-top:3rem;
    height: auto;
  }

  .shared-payments img {
    width:312px;
  }
  

  .shared-payments .shared-payments-about {
    width:100%;
    height: auto;
    text-align: center;
    margin-top:3rem;
  }

  .shared-payments .shared-payments-about h2 {
    font-size: 22px;
  }

  .framework {
    width: 80%;
    height: auto;
    padding: 3rem 0;
  }

  .framework h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .framework .framework-content {
    height: auto;
    margin-bottom: 0;
  }

  .framework .image {
    display: none;
  }

  .framework a {
    margin-top: 2rem;
    text-align: center;
  }

  .coming-soon {
    width: 80%;
    height: auto;
    margin-top:3rem;
    padding-bottom: 3.5rem;
  }

  .coming-soon h2 {
    text-align: center;
    font-synthesis: 22px;
  }

  .coming-soon p {
    width: 100%;
  }

}